#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: jmayser # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC1PH9u1RqneFC3RtEPDAmLaOV9SjDihEIly6xLXg8DK2/KdYPPjeQB+tY40E61wxxlOAKhLT7xfphnDraGp8mBEbcDWRCgYraVMyBVq9jjBN3uH+qfARYCTuFnOdTeMxUbGFJpwzAL08V6E55zuxXFOUjh/h4Qvnl+4prAABllE+LspzZS4P+q2Gn7YoNM1VyBP1XTsMuF1TL0Dr+QakzJHjSanB0FH1ZUKHubAh6yJ2bGx3mSqJGSgBVQ9OryOqO89EQdZ4vPm/nETpUJfGGawvCLM5EO3roX4jcQX6vT4YJT/pXbQHsGn7ul3i2JFo6n2hdqV7IU6WKm5KiZS1UFmFuwzXRHC+MlXWeiJ98DF1Bb9wBjVWSrzJQgo3oQtRwiAp82yAcUtVCDVJWISL3tKJRVNBmX6yB+bExeTZHHFm+abxSHzr6XtITIinCy9MRDbcEYZciinoX6PZ5ubn96DCsnsawxaW3UR6MrsfkyU0svlkYUJdYwUYgK+AMIpqM= jmayser@josevasquez
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
